<?xml version="1.0" encoding="utf-8"?>
<!-- Copyright (c) 2022 NetEase, Inc. All rights reserved. -->
<!-- Use of this source code is governed by a MIT license that can be -->
<!-- found in the LICENSE file. -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.netease.yunxin.kit.locationkit">
    <!--获取运营商信息，用于支持提供运营商信息相关的接口-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <queries>
        <package android:name="com.autonavi.minimap"/>
    </queries>
    <application android:allowNativeHeapPointerTagging="false">
        <provider
            android:name="com.netease.yunxin.kit.corekit.startup.InitializationProvider"
            android:authorities="${applicationId}.xkit-startup"
            android:exported="false"
            tools:node="merge">
            <meta-data
                android:name="com.netease.yunxin.kit.locationkit.LocationKitService"
                android:value="xkit.startup" />
        </provider>

        <activity
            android:name=".LocationPageActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize"
            android:finishOnTaskLaunch="true"/>
    </application>
</manifest>