<?xml version="1.0" encoding="utf-8"?><!--
  ~ Copyright (c) 2022 NetEase, Inc. All rights reserved.
  ~ Use of this source code is governed by a MIT license that can be
  ~ found in the LICENSE file.
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <application>
        <provider
            android:name="com.netease.yunxin.kit.corekit.startup.InitializationProvider"
            android:authorities="${applicationId}.xkit-startup"
            android:exported="false"
            tools:node="merge">
            <meta-data
                android:name="com.netease.yunxin.kit.teamkit.ui.TeamUIService"
                android:value="xkit.startup" />
        </provider>

        <activity
            android:name=".normal.activity.TeamSettingActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".normal.activity.TeamInfoActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".normal.activity.TeamUpdateNicknameActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".normal.activity.TeamMemberListActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".normal.activity.TeamUpdateIconActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".normal.activity.TeamUpdateNameActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".normal.activity.TeamUpdateIntroduceActivity"
            android:screenOrientation="portrait" />

        <activity android:name=".normal.activity.TeamManagerActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".normal.activity.TeamManagerListActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".normal.activity.TeamMemberSelectActivity"
            android:screenOrientation="portrait"/>

        <!-- fun版 Activity注册 -->
        <activity
            android:name=".fun.activity.FunTeamSettingActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".fun.activity.FunTeamInfoActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".fun.activity.FunTeamUpdateNicknameActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".fun.activity.FunTeamMemberListActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".fun.activity.FunTeamUpdateIconActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".fun.activity.FunTeamUpdateNameActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".fun.activity.FunTeamUpdateIntroduceActivity"
            android:screenOrientation="portrait" />

        <activity android:name=".fun.activity.FunTeamManagerActivity"
            android:screenOrientation="portrait"/>

        <activity android:name=".fun.activity.FunTeamManagerListActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".fun.activity.FunTeamMemberSelectActivity"
            android:screenOrientation="portrait"/>

    </application>

</manifest>