<?xml version="1.0" encoding="utf-8"?>
<!--
  ~ Copyright (c) 2022 NetEase, Inc. All rights reserved.
  ~ Use of this source code is governed by a MIT license that can be
  ~ found in the LICENSE file.
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    android:installLocation="auto"
    xmlns:tools="http://schemas.android.com/tools">
    <!-- 请求网络 -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <!-- xiaomi push -->
    <permission
        android:name="com.netease.yunxin.app.im.permission.MIPUSH_RECEIVE"
        android:protectionLevel="signature"/>
    <uses-permission android:name="com.netease.yunxin.app.im.permission.MIPUSH_RECEIVE"/>

    <uses-sdk tools:overrideLibrary="com.huawei.android.hms.base,com.huawei.android.hms.push"/>
    <!--meuzu push-->
    <!-- down Flyme5 version -->
    <uses-permission android:name="com.meizu.flyme.push.permission.RECEIVE"/>

    <!--  Flyme3 -->
    <uses-permission android:name="com.meizu.c2dm.permission.RECEIVE" />
    <permission
        android:name="com.netease.yunxin.app.im.permission.C2D_MESSAGE"
        android:protectionLevel="signature"/>
    <uses-permission android:name="com.netease.yunxin.app.im.permission.C2D_MESSAGE"/>

    <!--  oppo push-->
    <uses-permission android:name="com.coloros.mcs.permission.RECIEVE_MCS_MESSAGE"/>
    <uses-permission android:name="com.heytap.mcs.permission.RECIEVE_MCS_MESSAGE"/>
    <!-- 8.0+系统需要-->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application android:name=".IMApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_logo"
        android:supportsRtl="true"
        android:requestLegacyExternalStorage="true"
        android:allowNativeHeapPointerTagging="false"
        android:networkSecurityConfig="@xml/network_security_config"
        android:theme="@style/Theme.Xkit">
        <meta-data
            android:name="com.netease.nim.appKey"
            android:value="" />
        <meta-data
            android:name="com.netease.nim.oversea.appKey"
            android:value="" />
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="" />
        <meta-data
            android:name="com.amap.api.v2.web.apikey"
            android:value="" />

        <activity android:name=".welcome.WelcomeActivity"
            android:screenOrientation="portrait"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".main.MainActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"
            android:exported="true">

            <intent-filter>
                <action android:name="https://netease.yunxin.im.demo.home"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".main.mine.MineInfoActivity"
            android:screenOrientation="portrait"
            android:exported="false" />

        <activity
            android:name=".main.mine.EditUserInfoActivity"
            android:screenOrientation="portrait"
            android:exported="false" />

        <activity
            android:name=".main.mine.TypeSelectActivity"
            android:screenOrientation="portrait"
            android:exported="false" />

        <activity
            android:name=".about.AboutActivity"
            android:screenOrientation="portrait"
            android:exported="false" />

        <activity
            android:name=".main.mine.setting.SettingActivity"
            android:screenOrientation="portrait"
            android:exported="false" />

        <activity
            android:name=".main.mine.setting.SkinActivity"
            android:screenOrientation="portrait"
            android:exported="false" />

        <activity
            android:name=".main.mine.setting.SettingLanguageActivity"
            android:screenOrientation="portrait"
            android:exported="false" />

        <activity
            android:name=".main.mine.setting.SettingNotifyActivity"
            android:screenOrientation="portrait"
            android:exported="false" />

        <activity
            android:name=".main.mine.setting.ClearCacheActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".welcome.ServerActivity"
            android:screenOrientation="portrait"
            android:exported="false" />

        <activity android:name=".main.mine.setting.ServerConfigActivity"
            android:screenOrientation="portrait"
            android:exported="false" />

        <activity
            android:name=".main.mine.setting.PushConfigParseActivity"
            android:screenOrientation="portrait"
            android:exported="false" />

        <activity android:name=".main.mine.setting.ServerConfigParseActivity"
            android:screenOrientation="portrait"
            android:exported="false" />

        <activity android:name=".main.AccountLoginActivity"
            android:screenOrientation="portrait"
            android:exported="false" />

        <activity android:name=".main.mine.setting.SettingUIKitActivity"
            android:screenOrientation="portrait"
            android:exported="false" />

        <!-- 声明云信后台服务 -->
        <service
            android:name="com.netease.nimlib.service.NimService"
            android:process=":core"
            tools:remove="true"/>

        <service
            android:name="com.netease.nimlib.push.net.HeartbeatService"
            android:process=":core"
            tools:remove="true"/>

        <!-- 声明云信后台辅助服务 -->
        <service
            android:name="com.netease.nimlib.job.NIMJobService"
            android:exported="false"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:process=":core"
            tools:remove="true"/>

        <!-- 云信SDK的监视系统启动和网络变化的广播接收器，用户开机自启动以及网络变化时候重新登录 -->
        <receiver
            android:name="com.netease.nimlib.service.NimReceiver"
            android:exported="false"
            android:process=":core"
            tools:remove="true">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>

        <!-- 云信进程间通信receiver -->
        <receiver android:name="com.netease.nimlib.service.ResponseReceiver"
            tools:remove="true"/>

        <!-- 云信进程间通信service -->
        <service android:name="com.netease.nimlib.service.ResponseService"
            tools:remove="true"/>

        <!-- 云信内部使用的进程间通信provider -->
        <provider
            android:name="com.netease.nimlib.ipc.cp.provider.PreferenceContentProvider"
            android:authorities="${applicationId}.ipc.provider.preference"
            android:exported="false"
            tools:remove="true"/>
        <provider
            android:name="com.netease.nimlib.ipc.NIMContentProvider"
            android:authorities="${applicationId}.ipc.provider"
            android:exported="false"
            android:process=":core"
            tools:remove="true"/>

        <!-- 声明云信后台服务 -->
        <service android:name="com.netease.nimlib.service.NimServiceV2" />

        <provider
            android:name="com.netease.nimlib.ipc.NIMContentProviderV2"
            android:authorities="${applicationId}.ipc.provider.v2"
            android:exported="false" />

        <!--配置 receiver-->
        <receiver
            android:name="com.netease.nimlib.mixpush.mi.MiPushReceiver"
            android:exported="true">
            <intent-filter android:priority="0x7fffffff">
                <action android:name="com.xiaomi.mipush.RECEIVE_MESSAGE"/>
                <action android:name="com.xiaomi.mipush.MESSAGE_ARRIVED"/>
                <action android:name="com.xiaomi.mipush.ERROR"/>
            </intent-filter>
        </receiver>

        <!--华为推送配置-->
        <service
            android:name="com.netease.nimlib.mixpush.hw.HWPushService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.huawei.push.action.MESSAGING_EVENT" />
            </intent-filter>

        </service>
        <service
            android:name=".push.HWPushMessageService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.netease.nimlib.mixpush.hw.action.MESSAGING_EVENT" />
            </intent-filter>

        </service>

        <!-- fcm -->
        <service
            android:name="com.netease.nimlib.mixpush.fcm.FCMTokenService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <!--设置收到 fcm 通知展示的图标和颜色-->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_yunxin"/>
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/color_blue_3a9efb"/>

        <!--魅族推送配置项-->
        <receiver android:name="com.netease.nimlib.mixpush.mz.MZPushReceiver"
            android:exported="true">
            <intent-filter android:priority="0x7fffffff">
                <!-- 接收 push 消息 -->
                <action android:name="com.meizu.flyme.push.intent.MESSAGE" />
                <!-- 接收 register 消息 -->
                <action android:name="com.meizu.flyme.push.intent.REGISTER.FEEDBACK" />
                <!-- 接收 unregister 消息-->
                <action android:name="com.meizu.flyme.push.intent.UNREGISTER.FEEDBACK"/>
                <!-- 兼容低版本 Flyme3 推送服务配置 -->
                <action android:name="com.meizu.c2dm.intent.REGISTRATION" />
                <action android:name="com.meizu.c2dm.intent.RECEIVE" />

                <category android:name="com.netease.nim.demo"/>
            </intent-filter>
        </receiver>

        <!--Vivo推送配置项-->
        <service
            android:name="com.vivo.push.sdk.service.CommandClientService"
            android:permission="com.push.permission.UPSTAGESERVICE"
            android:exported="true"/>

        <receiver android:name="com.netease.nimlib.mixpush.vivo.VivoPushReceiver"
            android:exported="true">
            <intent-filter>
                <!-- 接收 push 消息 -->
                <action android:name="com.vivo.pushclient.action.RECEIVE"/>
            </intent-filter>
        </receiver>

        <!--Oppo推送配置项 需要配置以下两项-->
        <service
            android:name="com.netease.nimlib.mixpush.oppo.OppoPushService"

            android:permission="com.coloros.mcs.permission.SEND_MCS_MESSAGE"
            android:exported="true">
            <intent-filter>
                <action android:name="com.coloros.mcs.action.RECEIVE_MCS_MESSAGE"/>
            </intent-filter>
        </service>
        <!--兼容Q以下版本-->
        <service
            android:name="com.netease.nimlib.mixpush.oppo.OppoAppPushService"

            android:permission="com.heytap.mcs.permission.SEND_PUSH_MESSAGE"
            android:exported="true">

            <intent-filter>
                <action android:name="com.heytap.mcs.action.RECEIVE_MCS_MESSAGE"/>

                <action android:name="com.heytap.msp.push.RECEIVE_MCS_MESSAGE"/>
            </intent-filter>
        </service> <!--兼容Q版本-->

        <!-- 高德地图定位 -->
        <service android:name="com.amap.api.location.APSService"></service>

    </application>

</manifest>