<?xml version="1.0" encoding="utf-8"?><!--
  ~ Copyright (c) 2022 NetEase, Inc. All rights reserved.
  ~ Use of this source code is governed by a MIT license that can be
  ~ found in the LICENSE file.
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application>
        <provider
            android:name="com.netease.yunxin.kit.corekit.startup.InitializationProvider"
            android:authorities="${applicationId}.xkit-startup"
            android:exported="false"
            tools:node="merge">
            <meta-data
                android:name="com.netease.yunxin.kit.contactkit.ui.ContactUIService"
                android:value="xkit.startup" />
        </provider>

        <!-- 基础版Activity -->
        <activity
            android:name=".normal.contact.ContactActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".normal.addfriend.AddFriendActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".normal.team.TeamSearchActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity android:name=".normal.team.TeamProfileActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".normal.blacklist.BlackListActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />

        <activity
            android:name=".normal.team.TeamListActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />

        <activity
            android:name=".normal.userinfo.UserInfoActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />

        <activity
            android:name=".normal.userinfo.CommentActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />

        <activity
            android:name=".normal.selector.ContactSelectorActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".normal.search.GlobalSearchActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".normal.ai.AIUserListActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".normal.robot.RobotListActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".normal.robot.RobotInfoActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".normal.robot.RobotEditActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".normal.robot.RobotCreateActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".normal.robot.RobotBindActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".normal.robot.RobotEditNameActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysVisible|adjustResize" />
        <activity
            android:name=".normal.robot.RobotViewConfigActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".normal.selector.ai.AIContactSelectorActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity android:name=".normal.verify.FriendVerifyActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".normal.verify.ContactVerifyActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <!-- fun style activity -->
        <activity
            android:name=".fun.contact.FunContactActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".fun.addfriend.FunAddFriendActivity"
            android:exported="false"
            android:screenOrientation="portrait" />


        <activity
            android:name=".fun.blacklist.FunBlackListActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />

        <activity
            android:name=".fun.team.FunTeamListActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />

        <activity
            android:name=".fun.userinfo.FunUserInfoActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />

        <activity
            android:name=".fun.userinfo.FunCommentActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />

        <activity
            android:name=".fun.selector.FunContactSelectorActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".fun.search.FunSearchActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".normal.selector.forward.ForwardSelectorActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".fun.selector.forward.FunForwardSelectorActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".fun.ai.FunAIUserListActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".fun.robot.FunRobotListActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".fun.robot.FunRobotInfoActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".fun.robot.FunRobotBindActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".fun.robot.FunRobotCreateActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".fun.robot.FunRobotEditActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".fun.robot.FunRobotEditNameActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysVisible|adjustResize" />
        <activity
            android:name=".fun.robot.FunRobotViewConfigActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".fun.selector.ai.FunAIContactSelectorActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity android:name=".fun.verify.FunFriendVerifyActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity android:name=".fun.verify.FunContactVerifyActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity android:name=".fun.team.FunTeamSearchActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity android:name=".fun.team.FunTeamProfileActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>

    </application>

</manifest>